* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font: 1.6rem Arial;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

header {
  grid-area: "header";
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  border-bottom: .1rem solid black;
}
.header-brand a {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
}
.header-links {
  display: flex;
  margin-left: 10rem;
  margin-right: 10rem;
}

.header-links a {
  text-decoration: none;
  padding: 1rem;
}
.header-links-functions{
  margin-right: 8rem;
  font-weight: bold;
}
.header-links-functions > a{
  margin-left: 1.5rem;
}
.header-links-manufacturers{
  font-weight: bold;
}
.header-links-manufacturers > a{
  margin-left: 1.5rem;
}
main {
  grid-area: "main";
}
footer {
  grid-area: "footer";
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
}


/* home screen */

.top-card-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.top-card-collection > div {
  width: 15rem;
}


/* TopCard component */

.top-card-container {
  width: 100%;
  text-align: center;
}
.top-card-heading {
  font-weight: bold;
  font-style: italic;
  padding: .5rem;
}
.top-card-description {
  padding: .5rem;
}
.top-card-container > div > img{
  max-width: 100%;
  max-height: 100%;
}


/* Ranking screen */

.ranking-container {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ranking-and-sort-container {
  display: flex;
}
.sortBar-wrapper {
  margin-left: 2.5rem;
}
.ranking-container > div {
  margin: 2.5rem;
}
.ranking-heading {
  font-weight: bold;
  font-size: 2.5rem;
  margin-right: 2.5rem;
}
.product-card-collection {

}



/* SortBar component */

.sortBar-container {
  padding: .5rem;
  border-radius: 8px;
  width: fit-content;
  border: 1px black solid;
}
.sortBar-container > select {
  margin-left: 1rem;
}


/* ProductCard component */

.product-card-container {
  display: flex;
  /* border: 1px solid black; */
  /* border-radius: .8rem; */
  margin: 1rem;
  text-align: left;
}
.card-detail > div {
  font-size: 1.5rem;
  margin: .8rem;
  margin-left: 1.5rem;

}
.card-img-wrapper {
  width: 30rem;
  max-height: 18rem;
  /* border: 1px solid black; */
}
.card-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}


/* Common styling */

.inline {
  display: inline-block;
}