.info-container {
    margin: 0 5rem 0 5rem;
}
.info-container p{
    line-height: 24px;
}
.info-container h1 {
    color: #0086b3;
}
.info-container h2 {
    color: #0099cc;
}
.info-container h3 {
    color: #00ace6;
}
.info-container section {
    margin: 4rem 0 4rem 0;
    width: 100%;
}
.info-container footer {
    margin-top: 5rem;
    font-size: 1.2rem;
}
.info-container a {
    text-decoration: none;
}
hr {
    height: .2rem;
    background-color: #0086b3;
}

.inline-lists {
    display: flex;
    justify-content: space-between;
}
.list-container li {
    margin: 1rem 0 1rem 0;
}
.footer-component a {
    text-decoration: none;
}